.nav-hover{
 
    position: relative;
    
}
.nav-hover:hover{
 
    position: relative;
    background-color: green;
}

.nav-hover ul{
    display: none ;
}

.nav-hover:hover ul{
    position: absolute;
    display: block;
    left: 180px;
    top:0;
}
